<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cat</title>
</head>
<script src="https://aframe.io/releases/1.0.4/aframe.min.js"></script>
<script src="https://jeromeetienne.github.io/AR.js/aframe/build/aframe-ar.js"></script>
<body style='margin : 0px; overflow: hidden;'>

<a-scene stats embedded arjs='trackingMethod: best;'>
    <a-marker preset="hiro">
        <a-entity gltf-model="url(scene.gltf)"></a-entity>
    </a-marker>
    <a-entity camera></a-entity>
</a-scene>


</body>
</html>